// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$dark-primary-color: #512DA8;
$light-primary-color: #D1C4E9;
$primary-color: #673AB7;
$text-or-icon: #FFFFFF;
$accent-color: #536DFE;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;